* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, serif;
}

main {
    min-height: calc(100vh - 4em);
    position: relative;
    background-color: #01001e;
    color: #c1c5fc;
    padding-top: 4em;
}

a {
    text-decoration: none;
}