* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, serif;
    scroll-behavior: smooth;
}

main {
    min-height: calc(100vh - 4em);
    position: relative;
    padding-top: 4em;
}

.App {
    background-color: #01001e;
    color: #c1c5fc;
}

a {
    text-decoration: none;
}